<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movies.stegobe.domain.repository.MovieWithRelationMapper">

    <select id="selectAll" resultType="com.movies.stegobe.domain.entity.MovieWithRelation">
        SELECT
            movies.*,
            genres.name AS genre_name
        FROM
            movies
        INNER JOIN genres
            ON genres.id = movies.genre_id
    </select>

    <select id="selectById" resultType="com.movies.stegobe.domain.entity.MovieWithRelation">
        SELECT
            movies.*,
            genres.name AS genre_name
        FROM
            movies
        INNER JOIN genres
            ON genres.id = movies.genre_id
        WHERE
            movies.id = #{id}
    </select>

    <select id="selectBySearchParam" resultType="com.movies.stegobe.domain.entity.MovieWithRelation">
        SELECT
            movies.*,
            genres.name AS genre_name
        FROM
            movies
        INNER JOIN genres
            ON genres.id = movies.genre_id
        WHERE
            movies.user_id = #{user_id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO movies (user_id, name, comment, eval, genre_id)
        VALUES (#{userId}, #{name}, #{comment}, #{eval}, #{genreId})
    </insert>
</mapper>
